@tailwind base;
@tailwind components;
@tailwind utilities;

*{
box-sizing:border-box;
padding:0;
margin:0;
}


::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;

  }

  .blue__gradient {
    background: radial-gradient(circle, rgba(188, 165, 255, 0) 0%, #20dbd4 100%);
    filter: blur(100px);
  }
  .purple__gradient {
    background: radial-gradient(circle, rgba(188, 165, 255, 0) 0%, #3f51b6 100%);
    filter:
    contrast(1.3) 
    blur(100px);
    
  }
  